<mat-toolbar color="primary">
  <!-- 👇 i18n in template example -->
  <h1 i18n="site header|An introduction header@@introductionHeader">
    Information about Greenhouses on 
    <!-- 👇 DatePipe example -->
    <span>{{ today | date : 'mediumDate' : '+0200' : locale }}</span>
  </h1>
  <span class="spacer"></span>
    
  <!-- 👇 below menu will help us change the locale at run-time. -->
  <button mat-button [matMenuTriggerFor]="menu" class="menu-button" matTooltip="Select a language locale">
    {{ locale }}
  </button>
    
  <ng-template #noRadio>
    radio_button_unchecked
  </ng-template>
    
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="locale = 'en'">
      <mat-icon color='accent'>
        <ng-container *ngIf="locale === 'en'; else noRadio">radio_button_checked</ng-container>
      </mat-icon>
      EN
    </button>
    <button mat-menu-item (click)="locale = 'nl'">
      <mat-icon color='accent'>
        <ng-container *ngIf="locale === 'nl'; else noRadio">radio_button_checked</ng-container>
      </mat-icon>
      NL
    </button>
    <button mat-menu-item (click)="locale = 'da'">
      <mat-icon color='accent'>
        <ng-container *ngIf="locale === 'da'; else noRadio">radio_button_checked</ng-container>
      </mat-icon>
      DA
    </button>
  </mat-menu>
</mat-toolbar>

<div class='main-content'>
  <app-favorite-plant *ngIf='favoritePlant' [plant]="favoritePlant" [locale]="locale"></app-favorite-plant>
  <app-plants-list [locale]="locale" (selectPlant)="selectPlant($event)"></app-plants-list>
</div>

<router-outlet></router-outlet>